<div class="container-md">
  <!--フラッシュ表示-->
  <%= flash[:notice] %>
  <div class= "row">
    <div class= "col"><h2>商品一覧</h2></div>
    <div class= "col col-lg-2">
      <!--アイコンから新規商品登録へ行ける-->
      <%= link_to new_admin_item_path, class: "col col-lg-2" do %>
        <i class="fas fa-plus-circle"></i>
      <% end %>
    </div>
  </div>
  <table class="mx-auto">
    </tr>
    <tr>
      <td>商品ID</td>
      <td>商品名</td>
      <td>税抜価格</td>
      <td>ジャンル</td>
      <td>ステータス</td>
    </tr>
    <!--アイテムを１０件表示して名前から商品詳細に飛べる-->
    <% @items.each do |item| %>
    <tr>
      <td class="col-1"><%= item.id %></td>
      <td class="col-3"><%= link_to admin_item_path(item) do%><%= item.item_name %><% end %></td>
      <td class="text-right col-2"><%= item.item_price.to_s(:delimited, delimiter: ',') %>円</td>
      <td class="col-2"><%= item.item_genre.genre %></td>
      <td><%= item.sales_status_i18n %></td>
    </tr>
    <% end %>
  </table>
  <%= paginate @items %>
</div>