<div class="container-md">
  <!--フラッシュ表示-->
  <%= flash[:notice] %>
  <table>
    <tr class="row">
      <td>
        <div class="col">
        <h2>商品一覧</h2>
        </div>
      </td>
      <td>
        <!--アイコンから新規商品登録へ行ける-->
        <%= link_to new_admin_item_path, class:"col col-lg-2" do %>
          <i class="far fa-plus-circle"></i>
        <% end %>
      </td>
    </tr>
  </table>
  <table class="mx-auto">
    <tr>
      <td>商品ID</td>
      <td>商品名</td>
      <td>税抜価格</td>
      <td>ジャンル</td>
      <td>ステータス</td>
    </tr>
    <tr>
      <!--アイテムを１０件表示して名前から商品詳細に飛べる-->
      <%= @items.each do |item| %>
      <td><%= item.id %></td>
      <td><% link_to admin_item_path do%><%= item.item_name %><% end %></td>
      <td><%= item.item_price %></td>
      <td><%= item.genre_id %></td>
      <td><%= item.sales_status %></td>
      <% end %>
    </tr>
  </table>
  <%= paginate @items %>
</div>