<div class=container>
  <div class="ml-5 pl-5 mt-2 mb-2">
  <h2>管理者ログイン</h2>
  <%= form_with model: resource, url: new_admin_session_path, id: 'new_session_public', class: 'new_session_public' do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
    <style>table,td {width: 70%;}</style>
    <div class="ml-5">
      <table>
        <tr>
          <td>メールアドレス</td>
          <td>
            <div class="field">
              <% f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", size:60 %>
            </div>
          </td>
        </tr>
        <tr>
          <td>パスワード</td>
          <td>
            <div class="field">
              <% f.label :password %>
              <%= f.password_field :password, autocomplete: "current-password", size:60 %>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
          <div class="actions text-center">
          <%= f.submit "ログイン" %>
          </div>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
  </div>
</div>
