  <!--フラッシュ表示-->
  <%= flash[:notice] %>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= render 'genre', genres: @genres %>
    </div>
    <div class='col-md-10'>
      <div class="card text-white mb-3">
        <img class="card-img" src="/assets/nagano_cake3.jpg" alt="">
        <div class="card-img-overlay d-flex align-items-center justify-content-center">
        <div class="top-message">
          <h3 class= "stroke">
            ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </h3>
         </div>
        </div>
      </div>
      <h2>新着商品</h2>
      <div class="card-deck">
        <% @items.last(4).reverse.each do |item| %>
          <div class="col-md-3 mb-3 text-center">
            <a href="/items/<%= item.id %>" class="card h-100 m-0"style="background-color: #001A43;">
               <%= image_tag item.get_image(300,300), class: "item-image-card mt-1 mx-auto"%>
              <div class="card-body" style="background-color :#001A43;">
                <strong class="gold card-title"><%= item.item_name %></strong>
                <p class="gold card-text">¥<%= item.tax_price.to_s(:delimited) %></p>
              </div>
            </a>
          </div>
        <% end %>
      </div>
      <p class="text-right">
        <%= link_to "すべての商品を見る>", items_path %>
      </p>
    </div>
  </div>
</div>