<div class="container-md">
  <h2>注文履歴一覧</h2>
  <table>
    <tr>
      <td>購入日時</td>
      <td>購入者</td>
      <td>注文個数</td>
      <td>注文ステータス</td>
    </tr>
    <% @orders.each do |order| %>
    <tr>
      <!--購入日時をクリックで注文履歴詳細へ飛ぶ-->
      <td><%= link_to admin_order_path do%><%= order.created_at %><% end %></td>
      <!--苗字＋名前-->
      <td><%= order.customer.last_name + order.customer.first_name %></td>
      <!--注文詳細から注文個数を呼び出し-->
      <td><%= order.order_detail.quantity %></td>
      <!--注文ステータスを日本語に変換-->
      <td><%= order.order_status_i18n %></td>
    </tr>
    <% end %>
  </table>
</div>