<div class = "container">
 <div class = "row">
  <p>ショッピングカート</p>

  <%= link_to "カートを空にする", destroy_all_path, method: :delete,  "data-confirm" => "カート内を空にしますか？", class: "btn btn-sm btn-danger" %>
  </div>

   <div>
    <table>
     <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
     </tr>

     <% @carts.each do |cart| %>
     <tr>
      <td>
       <%#= image_tag item.get_image, size: '200x100' %>
       <%= cart.item.item_name %>
      </td>

      <td>
       <%= cart.item.tax_price.to_s(:delimited, delimiter: ',') %>
      </td>

      <td>
       <%= form_with model: cart do |f| %>

        <%= f.hidden_field :customer_id, :value => current_customer.id %>

        <%= f.hidden_field :item_id, :value => cart.item_id %>

        <%= f.select :count, *[1..10] %>

        <%= f.submit "変更"%>



       <% end %>
      </td>

      <td>
        <%= cart.subtotal.to_s(:delimited, delimiter: ',') %>
      </td>
      <td>
       <%= link_to "削除する", carts_path(@carts), method: :delete, class: "btn btn-sm btn-danger" %>
      </td>

     </tr>

     <% end %>
    </table>
    <div class ="row">
     <%= link_to "買い物を続ける", items_path, class: "btn btn-primary" %>
     <p>合計金額</p>
     <p><%= @total.to_s(:delimited, delimiter: ',') %></p>
    </div>
    <div class ="row">
     <%= link_to  
    </div>
   </div>
 </div>
