<h4>注文履歴一覧</h4>

<table class = "table">
  <tr>
    <th>注文日</th>
    <th>配送先</th>
    <th>注文商品</th>
    <th>支払金額</th>
    <th>ステータス</th>
    <th>注文詳細</th>
  </tr>
  <% @orders.each do |order| %>
  <tr>
    <td><%= order.created_at.strftime("%Y/%m/%d") %></td>
    <td><%= order.address_display %></td>
    <td>
      <% order.order_details. each do |order_detail| %>
        <%= order_detail.item.item_name %><br>
      <% end %>
    </td>
    <td><%= order.pay_price %></td>
    <td><%= order.order_status_i18n %></td>
    <td><%= link_to "表示する", order_path(order.id) %></td>
  </tr>
  <% end %>
</table>