
<div>
  <h4>注文履歴詳細</h4>

  <div>
    <p>注文情報</p>
    <table class = "table">
      <tr>
        <td>注文日</td>
        <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
      </tr>
      <tr>
        <td>配送先</td>
        <td><%= @order.address_display %></td>
      </tr>
      <tr>
        <td>支払方法</td>
        <td><%= @order.payment_i18n %></td>
      </tr>
      <tr>
        <td>ステータス</td>
        <td><%= @order.order_status_i18n %></td>
      </tr>
    </table>
  </div>

  <div>
    <p>請求情報</p>
    <table class = "table">
      <tr>
        <td>商品合計</td>
        <td><%= @total.to_s(:delimited) %></td>
      </tr>
      <tr>
        <td>配送料</td>
        <td>
          <% @order.shipping_cost = 800 %>
          <%= @order.shipping_cost %>
        </td>
      </tr>
      <tr>
        <td>ご請求額</td>
        <td><%= @order.pay_price.to_s(:delimited) %></td>
      </tr>
    </table>
  </div>

  <div>
    <p>注文内容</p>
    <table class = "table">
      <tr>
        <td>商品</td>
        <td>単価（税込）</td>
        <td>個数</td>
        <td>小計</td>
      </tr>
      <% @order.order_details. each do |order_detail| %>
        <tr>
          <td><%= order_detail.item.item_name %></td>
          <td><%= order_detail.item_price.to_s(:delimited) %></td>
          <td><%= order_detail.quantity %></td>
          <td><%= order_detail.total_price.to_s(:delimited) %></td>
        </tr>
      <% end %>
    </table>
  </div>

</div>