<div class=container>
    <div class="ml-5 pl-5 mt-2 mb-2">
    <h2>ログイン</h2>
    <p>会員の方はこちらからログイン</p>
    <%= form_with model: resource, url: new_customer_session_path, id: 'new_session_public', class: 'new_session_public' do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
      <style>table,td {width: 70%;}</style>
      <div class="ml-5">
        <table>
          <tr>
            <td>メールアドレス</td>
            <td>
              <div class="field">
                <% f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", size:60 %>
              </div>
            </td>
          </tr>
          <tr>
            <td>パスワード</td>
            <td>
              <div class="field">
                <% f.label :password %>
                <%= f.password_field :password, autocomplete: "current-password", size:60 %>
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
            <div class="actions text-center">
            <%= f.submit "ログイン" %>
            </div>
            </td>
          </tr>
        </table>
      </div>
    <% end %>
        <p>会員登録がお済みでない方</p>
      </div>
          <div class="row">
      <div class="col-md-12 text-center">
        <%= link_to new_customer_registration_path do %>
        こちら
        <% end %>
        から新規登録を行ってください。
      </div>
    </div>
</div>