<div class="container">
 <div class="row">
  <!--ジャンル検索画面-->
  <div class="col-md-2">
   <%= render 'public/homes/genre', genres: @genres %>
  </div>
  <!--商品詳細画面-->
  <div class='col-md-10'>
   <%#= image_tag item.get_image, size: '200x100' %>
    <%= @item.item_name %></br>

    <%= @item.item_explanation %></br>

    <p>¥<%= @item.item_price.to_s(:delimited, delimiter: ',') %>（税抜き）</p>

    <% if customer_signed_in? %>

     <%= form_with model: @cart do |f| %>

      <%= f.hidden_field :customer_id, :value => current_customer.id %>

      <%= f.hidden_field :item_id, :value => @item.id %>

      <%= f.submit "カートに入れる"%>

      <%= f.select :count, *[1..10] %>

    <% end %>

   <% end %>

  </div>
 </div>
</div>
