<nav class="navbar navbar-expand-lg", style="background-color: #001A43;">
  <h1 class="title mt-2" style="font-family: 'IM Fell DW Pica SC', serif;"><font class ="gold">Nagano Cake</font></h1>
  <div class="navbar-collapse" >
      <!--ロゴ-->
    <div class = "header_inner">
      <% if admin_signed_in? %>
      <%= link_to image_tag("nagano_cake_logo.png"),admin_root_path, width: '50%', height: '50%' %>
      <% else %>
      <%= link_to image_tag("nagano_cake_logo.png"),root_path, width: '50%', height: '50%' %>
      <% end %>
    </div>
    <ul class="navbar-nav ml-auto">
      <!--管理者がログインしていたら-->
      <% if admin_signed_in? %>
      <li>
        <%= link_to admin_items_path, class: "nav-link gold" do %>
          商品一覧
        <% end %>
      </li>
      <li>
        <%= link_to admin_customers_path, class: "nav-link gold" do %>
          会員一覧
        <% end %>
      </li>
      <li>
        <%= link_to admin_root_path, class: "nav-link gold" do %>
          注文履歴一覧
        <% end %>
      </li>
      <li>
        <%= link_to admin_genres_path, class: "nav-link gold" do %>
          ジャンル一覧
        <% end %>
      </li>
       <li>
        <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link gold" do %>
          ログアウト
        <% end %>
      </li>
      <!--顧客がログインしていたら-->
      <% elsif customer_signed_in? %>
        <p class="text-light mr-5 pr-5 mt-2">
          ようこそ <strong><%= current_customer.last_name %></strong> さん!
        </p>
        <li>
          <%= link_to customers_mypage_path, class: "nav-link gold" do %>
            マイページ
          <% end %>
        </li>
        <li>
          <%= link_to items_path, class: "nav-link gold" do %>
            商品一覧
          <% end %>
        </li>
        <li>
          <%= link_to carts_path, class: "nav-link gold" do %>
            カート
          <% end %>
        </li>
        <li>
          <%= link_to destroy_customer_session_path, method: :delete, class: "nav-link gold" do %>
            ログアウト
          <% end %>
        </li>
      <!--ログイン前画面-->
      <% else %>
        <li>
          <%= link_to about_path, class: "nav-link gold" do %>
            about
          <% end %>
        </li>
        <li>
          <%= link_to items_path, class: "nav-link gold" do %>
            商品一覧
          <% end %>
        </li>
        <li>
          <%= link_to new_customer_registration_path, class: "nav-link gold" do %>
            新規登録
          <% end %>
        </li>
        <li>
          <%= link_to new_customer_session_path, class: "nav-link gold" do %>
            ログイン
          <% end %>
        </li>
      <% end %>
    </ul>
    <div class="search_form serch_inner">
      <%= form_with url: searchs_search_path, local: true, method: :get do |f| %>
        <%= f.text_field :word %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
  </div>
</nav>