<nav class="navbar navbar-expand-lg", style="background-color: #00000050;">
  <h1 class="title mt-3" style="font-family: 'IM Fell DW Pica SC', serif;"><font class ="nagano">Nagano Cake</font></h1>
  <div class="navbar-collapse" >
      <!--ロゴ-->
    <div class = "header_inner">
      <% if admin_signed_in? %>
      <%= link_to image_tag("nagano_cake_logo.png"),admin_root_path, width: '50%', height: '50%' %>
      <% else %>
      <%= link_to image_tag("nagano_cake_logo.png"),root_path, width: '50%', height: '50%' %>
      <% end %>
    </div>
    <ul class="navbar-nav ml-auto">
      <!--管理者がログインしていたら-->
      <% if admin_signed_in? %>
      <li>
        <%= link_to admin_items_path, class: "nav-link menu" do %>
          商品一覧
        <% end %>
      </li>
      <li>
        <%= link_to admin_customers_path, class: "nav-link menu" do %>
          会員一覧
        <% end %>
      </li>
      <li>
        <%= link_to admin_root_path, class: "nav-link menu" do %>
          注文履歴一覧
        <% end %>
      </li>
      <li>
        <%= link_to admin_genres_path, class: "nav-link menu" do %>
          ジャンル一覧
        <% end %>
      </li>
       <li>
        <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link menu" do %>
          ログアウト
        <% end %>
      </li>
      <!--顧客がログインしていたら-->
      <% elsif customer_signed_in? %>
        <h4 class="pt-3 mr-5 pr-5 text-light">
          ようこそ <%= current_customer.last_name %> さん!
        </h4>
        <li>
          <%= link_to customers_mypage_path, class: "nav-link menu" do %>
            マイページ
          <% end %>
        </li>
        <li>
          <%= link_to items_path, class: "nav-link menu" do %>
            商品一覧
          <% end %>
        </li>
        <li>
          <%= link_to carts_path, class: "nav-link menu" do %>
            カート
          <% end %>
        </li>
        <li>
          <%= link_to destroy_customer_session_path, method: :delete, class: "nav-link menu" do %>
            ログアウト
          <% end %>
        </li>
      <!--ログイン前画面-->
      <% else %>
        <li>
          <%= link_to about_path, class: "nav-link menu" do %>
            about
          <% end %>
        </li>
        <li>
          <%= link_to items_path, class: "nav-link menu" do %>
            商品一覧
          <% end %>
        </li>
        <li>
          <%= link_to new_customer_registration_path, class: "nav-link menu" do %>
            新規登録
          <% end %>
        </li>
        <li>
          <%= link_to new_customer_session_path, class: "nav-link menu" do %>
            ログイン
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
